@import url(style.css); 
/* Very short Gecko-specific additions/changes here (if 
any) */ 

/*body { background: url(images/bg.gif) repeat-y; background-position:50% 50%; margin: 0; padding: 0; font-size: 160%;
	font-family: "Lucida Grande", Verdana, Arial, Sans-Serif;
	color: #5b9cff;}*/